// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

/* =========================================================== */
/* ! Comments
/* =========================================================== */		

ul#comments {
	
	height: 278px;
	left: 29px;
	position: relative;
	top: 35px;
	width: 446px;
	margin: 0;	


	.comment {
		border-bottom: 1px solid @grayLighter;
		list-style: none;
		padding: 20px 20px 5px;
		position: relative;

		&.new {
			background: #FFFAE2;
		}

		.content { margin-bottom: 0px; }

		.clearfix();

		.span1 {
			margin-left: 0;
		}

		&:last-child {
			border-bottom: none;
		}

		.controls {
			position: absolute;
			right: 20px;
			top: 15px;
		}

		.comment-author .label {
			margin-right: 10px;
		}

	}

	&.body {
		padding: 0;
	}
}

#comment-form {
	height: 30px;
	left: 39px;
	position: absolute;
	top: 325px;
	width: 425px;

	input[type="text"] {
		border: 1px solid #000;
		font-size: 14px;
		font-weight: bold;
		padding: 8px 12px;
		width: 350px;

		.border-radius(20px);
	}
}